html body {
  background-color: #1e1f26;
  color: rgb(226, 226, 226);
}

.navbar {
  background-color: #141419;
}

.nav-item .nav-link {
  font-family: Montserrat Light;
  margin: 0 8px;
  color: #d3d3d3 !important;
}

.nav-item .nav-link:hover {
  color: #ffffff !important;
}

.signin-card {
  width: 30%;
  margin-top: 3%;
}

.recipe-panel {
  height: 90vh;
}

.menu-panel {
  height: 90vh;
  overflow-y: auto;
  display: inline-block;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #d0e1f9;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.screen {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 90%;
  width: 95%;
  border-radius: 25px;
  background: #363943;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.screen button {
  margin-top: 50px;
}

#title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  #title {
    margin-bottom: 10px;
  }
  .screen {
    height: 90%;
  }
  .mobile-50 {
    height: 75%;
  }
  .recipe-panel {
    height: 310px;
  }
  .screen-content {
    margin-top: 15px !important;
  }

  .screen button {
    margin-top: 15px;
  }

  #recipe-img {
    height: 135px;
    width: auto;
  }
}

.screen-content {
  margin-top: 100px;
}

#recipe-img {
  width: 65%;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #c6c6c6;
}

#btn-img {
  width: 75px;
  height: 75px;
}

.item-btn {
  margin: 12px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #d0e1f9;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.75);
}

.item-btn:hover {
  transform: scale(1.1);
}
